

.download-page-panel {
    padding: 2rem;
    margin: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


@media screen and (max-width: 1000px) {
    .download-page-panel {
        flex-direction: column;
    }
}