
#gallery {
    margin-top: 2rem;
    padding: 0 5%;
}

#gallery .page {
    padding: 5% 0;
}

.gallery-card {
    padding: 4px;
    margin: 2rem;
    background-color: rgb(142, 192, 240);
    width: 25%;
    border-radius: 1rem;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media screen and (max-width: 1000px) { 
    .gallery-card {
        margin: 0.4rem;
        width: 80%;
    }
}



.gallery-card > * {
    color: black;
}

.gallery-card:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    transform: scale(1.1);
}

.gallery-card img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}