
#home {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-bg {
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("/static/bg-poster.png");
    filter: blur(3px);
}

.home-bg video {
    filter: blur(3px);

    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .home-bg video {
        display: none;
    }
}