nav {
    background-color: var(--primary);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px 15%;
}
.nav-spacer {
    flex: 0.5;
}

.nav-btn {
    user-select: none;
    text-decoration: none;
    padding: 16px 27px;
    background-color: var(--primary);
    font-weight: bold;
    color: white;
    transition: 0.2s;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

#nav-open {
    display: none;
}
#nav-open + label {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
    
    #nav-open + label {
        display: inline-block;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.39);
        margin: 4px;
        border-radius: 12px;
        transition: 0.2s;
        z-index: 0;
    }
    #nav-open + label:hover {
        cursor: pointer;
    }
    #nav-open + label:before {
        content: "\f0c9";  /* bars */
        font: var(--fa-font-solid);

        display: block;

        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 0.1rem;
    }

    #nav-open:checked + label::before {
        content: "\f00d";  /* xmark */
        padding: 0 0.2rem;
    }

    #nav-open ~ .nav {
        margin-top: -100%;
        transition: 0.2s;
    }
    #nav-open:checked ~ .nav {
        margin-top: 0px;
    }
}

